@use "../../styles/varibles"as *;
@use "../../styles/mixin"as *;

.experience-section {
    padding: 150px 0;

    &-subtitle {
        margin: 0 0 16px;
    }

    &-title {
        text-align: left;
    }


    .experience-content {
        display: flex;
        align-items: center;
        gap: 50px;

        &:nth-of-type(odd) {
            flex-direction: row-reverse;
            margin: 80px 0;

            @media (max-width: 1150px) {
                flex-wrap: wrap-reverse;
            }
        }


        p {
            margin-top: 30px;
            width: 100%;
            max-width: 418px;
            font-size: 18px;
            line-height: 1.44;
            letter-spacing: -0.01em;
            color: $colorTitle;
        }

        @media(max-width: 1150px) {
            flex-direction: column-reverse;
            justify-content: center;

        }



    }



    .experience-content__about {
        justify-content: space-between;
    }

    .content {
        max-width: 490px;
        width: 100%;

        h3 {
            @include ffinstrument(28px, 600);
            line-height: 1.14;
            letter-spacing: -0.01em;
            color: $colorTitle;
            
        }

        figure {
            max-width: 640px;
            width: 100%;
        }

        @media (max-width: 1150px) {
            h3, p {
                text-align: center;
                max-width: 100%;
            }
        }
    }

    .experience-img__about {
        position: relative;
        max-width: 761px;
        width: 100%;
        padding-right: 56px;

        @media (max-width: 1150px) {
            padding-right: 0;
        }
    }


    .experience-content__bottom {
        position: relative;
        max-width: 436px;
        width: 100%;
        padding-right: 16px;

        img {
            width: 100%;
        }

        .experience-item {
            padding: 10px 15px;
            line-height: 1.44;
            font-size: 18px;
        }
    }
}